template(name="about")
  .container
    .card-panel.card-content.text-center
      h1.page-header tabby
      
      p Tabby lets you setup and share Guitar and Ukulele Tabs.

      p It's still in very early development.

      p Tabby is open source. Check it out on
        a(href="https://github.com/JanMP/tabby") gitHub