body
  padding-top 70px
  background silver
  
.sortable-dropzone
  min-height 1em
  display flex
  flex-wrap wrap
  
.card-panel
  margin .5em .5em 0 0
  border 1px solid grey
  border-radius 5px
  box-shadow 2px 2px 4px grey
  background #fefefe
  
.card-content
  padding .5em 1em .5em 1em
  
.card-editor
  padding 0 1em .5em 1em
  
.icon-button
  margin-top .3em
  
.flex-container
  display flex
  flex-wrap wrap
  
.large-tab-container
  width 208px

.tab-container
  width 140px
  
.small-tab-container
  width 100px
  
.tab-bar
  width 120px
  
.isInRole
  color black
  
.isNotInRole
  color silver
  
.notMine
  color red

  