head
  title tabby
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
body

template(name="layout")
  header
    +navbar
  main
    //+autoformModals
    {{> Template.dynamic template=content}}

template(name="unAuthorized")
  .container
    .card-panel
      .card-content.text-center
        h1 Access denied
        p Sorry, you are not allowed to access this page.
        if loggedIn
          p This page belongs to a different user-account.
        else
          p You must be logged-in to access this page.