template(name="chords")
  .container
    h1.page-header chords
      button.btn.btn-default.new-chord-button.pull-right new chord
    each chords
      +displayChord

template(name="displayChord")
  .card-panel
    .card-content
      h3 #{name}
    .card-editor
      +quickForm(collection="Chords" doc=this id=formId type="update") 
