.card-panel
  margin .5em
  border 1px solid grey
  border-radius 5px
  box-shadow 4px 4px 8px grey
  background #fefefe
  
.card-content
  padding .5em 1em .5em 1em
  
.card-editor
  padding 0 1em .5em 1em