template(name="instrumentPicker")
  select.form-control.btn-default#instrument-picker
    option(value="guitar" selected=selected("guitar")) Guitar
    option(value="ukulele-hawaii" selected=selected("ukulele-hawaii")) Ukulele